<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Predict</title>
</head>
<body>
    <h1>Hasil Prediksi</h1>
    <br>
    <p>Year                 = {{ data['Y'] }}</p>
    <p>Production_Value     = {{ data['pv'] }}</p>
    <p>Price_Index          = {{ data['pi'] }}</p>
    <p>Import_Q             = {{ data['iq'] }}</p>
    <p>Export_Q             = {{ data['eq'] }}</p>
    <p>Temp_Change_Value    = {{ data['tc'] }}</p>
    <p>Domain               = {{ data['d'] }}</p>
    <p>Hasil Klasifikasi    = {{ prediksi }}</p>
</body>
</html>