<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Predict</title>
</head>
<body>
    <h1>Price Prediction</h1>
    <br>
    <h1><a href="http://127.0.0.1:5000/Predik">Prediksi Harga</a></h1>
    
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eveniet veniam, soluta saepe dignissimos ducimus sunt rerum ad eos, amet laborum id ipsa. Molestiae unde quos explicabo ducimus quis accusamus.</p>

</body>
</html>